<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tela Menu</ion-title>
    <ion-icon md="arrow-back-circle-outline" (click)="VoltarTelaPrincipal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">telamenu</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="botaoconta">
  <ion-button  (click)="NavTelaConta()">Conta</ion-button>
  </div>

  <div class="botaocustomizar">
  <ion-button (click)="NavTelaCustomizar()">Customizar Link</ion-button>
  </div>

</ion-content>
